In [1]:
%load_ext sql

# New Section

In [2]:
%%sql sqlite:///jurisdiction_hierachy.db

In [9]:
%%sql sqlite:///beneficiary_partner_data.db

In [3]:
%%sql CREATE TABLE jurisdiction_hierachy (
partner_id INTEGER NOT NULL PRIMARY KEY,
village VARCHAR(30) NOT NULL,
district VARCHAR(30) NOT NULL,
region VARCHAR(30)
);

 * sqlite:///jurisdiction_hierachy.db
Done.

[]

Insert Data into Jurisdiction_Hierachy

In [4]:
%%sql INSERT into jurisdiction_hierachy(partner_id, village, district, region) VALUES
(1,'Middle Shabelle','Region',NULL),
(2,'Hiraan','Region',NULL),
(3,'Balcad','District','Middle Shabelle'),
(4,'Jowhar','District','Middle Shabelle'),
(5,'Beledweyn','District','Hiraan'),
(6,'Dharkenley','Village','Beledweyn'),
(7,'Bulo-Kahin','Village','Beledweyn'),
(8,'Hilo Kelyo','Village','Beledweyn'),
(9,'Xubow','Village','Beledweyn'),
(10,'Xiintooy','Village','Beledweyn'),
(11,'Dhagax Jebis','Village','Beledweyn'),
(12,'Filtare','Village','Beledweyn'),
(13,'Howl-Wadaag','Village','Beledweyn'),
(14,'Balcad','Village','Balcad'),
(15,'Mareeray','Village','Balcad'),
(16,'Kulmis','Village','Balcad'),
(17,'Sabuun','Village','Jowhar'),
(18,'Bayaxaw','Village','Jowhar');

 * sqlite:///jurisdiction_hierachy.db
18 rows affected.

[]

2. Write a SQL script that creates the following summary tables (can be tables or views):

 District Name

In [5]:
%sql SELECT district FROM jurisdiction_hierachy

 * sqlite:///jurisdiction_hierachy.db
Done.

[('Region',),
 ('Region',),
 ('District',),
 ('District',),
 ('District',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',),
 ('Village',)]

 Region Name

In [6]:
%sql SELECT region FROM jurisdiction_hierachy

 * sqlite:///jurisdiction_hierachy.db
Done.

[(None,),
 (None,),
 ('Middle Shabelle',),
 ('Middle Shabelle',),
 ('Hiraan',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Beledweyn',),
 ('Balcad',),
 ('Balcad',),
 ('Balcad',),
 ('Jowhar',),
 ('Jowhar',)]

Create Database Village_Location

In [ ]:
%sql sqlite:///village_location.db

In [7]:
%%sql CREATE TABLE village_locations (
    village_id INTEGER NOT NULL PRIMARY KEY,
    village VARCHAR(30) NOT NULL,
    latitude VARCHAR(30),
    longitude VARCHAR(30),
    total_population INTEGER
);

 * sqlite:///jurisdiction_hierachy.db
Done.

[]

Insert Data into village_location

In [8]:
%%sql INSERT into village_locations (village_id, village,latitude,longitude, total_population) VALUES
(1,'Dharkenley','4°47''35.40"','45°12''28.80"',12800),
(2,'Bulo-Kahin','4°47''57.00"','45°11''5.70"',9485),
(3,'Hilo Kelyo','4°47''57.00"','45°12''58.60"',5212),
(4,'Xubow','4°46''46.77"','45°12''7.57"',2558),
(5,'Xiintooy','4°44''14.40"','45°13''5.00"',3850),
(6,'Dhagax Jebis','4°44''27.86"','45°12''42.03"',3563),
(7,'Filtare','4°44''20.43"','45°12''27.89"',8000),
(8,'Howl-Wadaag','4°43''50.00"','45°11''58.20"',7525),
(9,'Balcad','2°21.624''','45°23.928''',1500),
(10,'Mareeray','2°23.504''','45°25.200''',7500),
(11,'Kulmis','2°36.761''','45°30.642''',6058),
(12,'Sabuun','2°53.020''','45°32.356''',5483),
(13,'Bayaxaw','2°44.768''','45°29.727''',3000),
(14,'Bayaxawo','2°44.768''','45°29.926''',7560);

 * sqlite:///jurisdiction_hierachy.db
14 rows affected.

[]

In [10]:
%%sql CREATE TABLE beneficiary_partner_data (
partner_id INTEGER NOT NULL PRIMARY KEY,
partner VARCHAR(30) NOT NULL,
village VARCHAR(30) NOT NULL,
beneficiaries INTEGER,
beneficiary_type VARCHAR(30)
);

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[]

In [11]:
%%sql INSERT into beneficiary_partner_data (partner_id,partner,village,beneficiaries,beneficiary_type) VALUES
(1,'IRC','Balcad','1450','Individuals'),
(2,'NRC','Balcad','50','Households'),
(3,'SCI','Balcad','1123','Individuals'),
(4,'IMC','Balcad','1245','Individuals'),
(5,'SCI','Mareeray','5200','Individuals'),
(6,'IMC','Mareeray','70','Households'),
(7,'IRC','Mareeray','2100','Individuals'),
(8,'CESVI','Mareeray','1800','Individuals'),
(9,'SCI','Kulmis','1340','Individuals'),
(10,'IMC','Kulmis','55','Households'),
(11,'SCI','Kulmis','4500','Individuals'),
(12,'IMC','Kulmis','1670','Individuals'),
(13,'IMC','Sabuun','1340','Individuals'),
(14,'IRC','Sabuun','66','Households'),
(15,'CESVI','Sabuun','4090','Individuals'),
(16,'SCI','Sabuun','2930','Individuals'),
(17,'IMC','Bayaxaw','2800','Individuals'),
(18,'IRC','Bayaxaw','2100','Individuals'),
(19,'CESVI','Bayaxaw','45','Households'),
(20,'SCI','Bayaxaw','1700','Individuals'),
(21,'SCI','Bayaxawo','5900','Individuals'),
(22,'IMC','Bayaxawo','40','Households'),
(23,'IRC','Bayaxawo','1500','Individuals'),
(24,'CESVI','Bayaxawo','1260','Individuals'),
(25,'CESVI','Dharkenley','7880','Individuals'),
(26,'IRC','Dharkenley','34','Households'),
(27,'SCI','Bulo-Kahin','4300','Individuals'),
(28,'IMC','Bulo-Kahin','4212','Individuals'),
(29,'IRC','Bulo-Kahin','3200','Individuals'),
(30,'IRC','Hilo Kelyo','5212','Individuals'),
(31,'SCI','Hilo Kelyo','25','Households'),
(32,'CESVI','Xubow','2157','Individuals'),
(33,'IMC','Xiintooy','1667','Individuals'),
(34,'IRC','Xiintooy','2667','Individuals'),
(35,'CESVI','Dhagax Jebis','2856','Individuals'),
(36,'CESVI','Filtare','7519','Individuals'),
(37,'CESVI','Howl-Wadaag','6870','Individuals'),
(38,'IMC','Howl-Wadaag','32','Households');

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
38 rows affected.

[]

In [15]:
%%sql SELECT *FROM beneficiary_partner_data
WHERE beneficiary_type= 'Individuals'

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[(1, 'IRC', 'Balcad', 1450, 'Individuals'),
 (3, 'SCI', 'Balcad', 1123, 'Individuals'),
 (4, 'IMC', 'Balcad', 1245, 'Individuals'),
 (5, 'SCI', 'Mareeray', 5200, 'Individuals'),
 (7, 'IRC', 'Mareeray', 2100, 'Individuals'),
 (8, 'CESVI', 'Mareeray', 1800, 'Individuals'),
 (9, 'SCI', 'Kulmis', 1340, 'Individuals'),
 (11, 'SCI', 'Kulmis', 4500, 'Individuals'),
 (12, 'IMC', 'Kulmis', 1670, 'Individuals'),
 (13, 'IMC', 'Sabuun', 1340, 'Individuals'),
 (15, 'CESVI', 'Sabuun', 4090, 'Individuals'),
 (16, 'SCI', 'Sabuun', 2930, 'Individuals'),
 (17, 'IMC', 'Bayaxaw', 2800, 'Individuals'),
 (18, 'IRC', 'Bayaxaw', 2100, 'Individuals'),
 (20, 'SCI', 'Bayaxaw', 1700, 'Individuals'),
 (21, 'SCI', 'Bayaxawo', 5900, 'Individuals'),
 (23, 'IRC', 'Bayaxawo', 1500, 'Individuals'),
 (24, 'CESVI', 'Bayaxawo', 1260, 'Individuals'),
 (25, 'CESVI', 'Dharkenley', 7880, 'Individuals'),
 (27, 'SCI', 'Bulo-Kahin', 4300, 'Individuals'),
 (28, 'IMC', 'Bulo-Kahin', 4212, 'Individuals'),
 (29, 'IRC', 'Bulo-Kahin', 3200, 'Individuals'),
 (30, 'IRC', 'Hilo Kelyo', 5212, 'Individuals'),
 (32, 'CESVI', 'Xubow', 2157, 'Individuals'),
 (33, 'IMC', 'Xiintooy', 1667, 'Individuals'),
 (34, 'IRC', 'Xiintooy', 2667, 'Individuals'),
 (35, 'CESVI', 'Dhagax Jebis', 2856, 'Individuals'),
 (36, 'CESVI', 'Filtare', 7519, 'Individuals'),
 (37, 'CESVI', 'Howl-Wadaag', 6870, 'Individuals')]

No. of Individual Beneficiaries (1HH = 6 Individuals)

In [12]:
%%sql SELECT COUNT (beneficiary_type)
FROM beneficiary_partner_data
WHERE beneficiary_type ='Individuals';

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[(29,)]

No. of Individual Beneficiaries / Total District Population. Stuck Here

---

In [ ]:
%%sql SELECT COUNT Total_Population
FROM beneficiary_partner_data
%%sql SELECT COUNT (beneficiary_type)
FROM beneficiary_partner_data
WHERE beneficiary_type ='Individuals';

b) ****Partner_summary****

> i) Partner Name

In [14]:
%%sql SELECT (partner) AS partner_name
FROM beneficiary_partner_data;

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[('IRC',),
 ('NRC',),
 ('SCI',),
 ('IMC',),
 ('SCI',),
 ('IMC',),
 ('IRC',),
 ('CESVI',),
 ('SCI',),
 ('IMC',),
 ('SCI',),
 ('IMC',),
 ('IMC',),
 ('IRC',),
 ('CESVI',),
 ('SCI',),
 ('IMC',),
 ('IRC',),
 ('CESVI',),
 ('SCI',),
 ('SCI',),
 ('IMC',),
 ('IRC',),
 ('CESVI',),
 ('CESVI',),
 ('IRC',),
 ('SCI',),
 ('IMC',),
 ('IRC',),
 ('IRC',),
 ('SCI',),
 ('CESVI',),
 ('IMC',),
 ('IRC',),
 ('CESVI',),
 ('CESVI',),
 ('CESVI',),
 ('IMC',)]

ii) No. of Villages reached by partner

In [36]:
%%sql SELECT COUNT (Village), (Partner)
FROM beneficiary_partner_data
GROUP BY partner_id;

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[(1, 'IRC'),
 (1, 'NRC'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'CESVI'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'CESVI'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'CESVI'),
 (1, 'SCI'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'CESVI'),
 (1, 'CESVI'),
 (1, 'IRC'),
 (1, 'SCI'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'IRC'),
 (1, 'SCI'),
 (1, 'CESVI'),
 (1, 'IMC'),
 (1, 'IRC'),
 (1, 'CESVI'),
 (1, 'CESVI'),
 (1, 'CESVI'),
 (1, 'IMC')]

In [37]:
%%sql SELECT village
FROM beneficiary_partner_data
UNION
SELECT partner
FROM  beneficiary_partner_data;

 * sqlite:///beneficiary_partner_data.db
   sqlite:///jurisdiction_hierachy.db
Done.

[('Balcad',),
 ('Bayaxaw',),
 ('Bayaxawo',),
 ('Bulo-Kahin',),
 ('CESVI',),
 ('Dhagax Jebis',),
 ('Dharkenley',),
 ('Filtare',),
 ('Hilo Kelyo',),
 ('Howl-Wadaag',),
 ('IMC',),
 ('IRC',),
 ('Kulmis',),
 ('Mareeray',),
 ('NRC',),
 ('SCI',),
 ('Sabuun',),
 ('Xiintooy',),
 ('Xubow',)]

iii) No. of Districts reached by partner

In [ ]:
%%sql SELECT districts
FROM jurisdiction_hierachy
UNION
SELECT partner
FROM  beneficiary_partner_data;